body {
    font-family: "Poppins", sans-serif;
    text-align: center;
    background: linear-gradient(to bottom right, #007bff, #00bcd4);
    color: white;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section {
    background: rgba(255, 255, 255, 0.1);
    padding: 2rem;
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    width: 90%;
    max-width: 400px;
}

.hidden {
    display: none;
}

button {
    background-color: white;
    border: none;
    color: #007bff;
    padding: 10px 20px;
    margin-top: 10px;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s;
}

button:hover {
    background-color: #007bff;
    color: white;
}
